<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br>
    <div th:each="book:${books}">
        <div th:style="${book.isExpired()} ? 'color: red;' : 'color: blue;'">
            <div th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</div>
        </div>
    </div>
    <hr/>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
<br/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>